.mainDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #235880;
}

.listIdsFlags {
  border-radius: 4px;
  height: 250px;
  width: 250px;
  padding: 0;
}

.formFirst p {
  width: 50px;
  margin: 0;
}
.formFirst img {
  height: 14px;
  width: 25px;
  border: solid black 1px;
}

.countryBubble button {
  font-weight: bold;
  border: none;
  background: none;
  color: red;
  cursor: pointer;
}

.countryBubble {
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  display: inline-flex;
  border-radius: 16px;
  font-family: Arial;
  color: #323333;
  font-size: 10px;
  background: #ffffff;
  padding: 5px 10px;
  border: solid #b1b4b7 1px;
  text-decoration: none;
}
.countryBubble h6 {
  margin: 0;
  font-size: 12px;
  padding-left: 3px;
}
.backgroundForm {
  height: 550px;
  width: 75%;
  margin: 10px 0;
  background: #bac2c8bb;
  border-radius: 20px;
}

.backgroundForm h1 {
  color: #000000;
}
.formFirst {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.formContainer {
  height: 400px;
  display: flex;
  justify-content: center;
}

.formFirst p {
  width: auto;
  color: rgb(149 8 8);
  font-weight: 500;
}

.formFirst input {
  border: solid lightgray 1px;
  height: 25px;
  border-radius: 6px;
  width: 243px;
  align-self: center;
  text-align: center;
}

.formFirst label {
  color: rgb(24, 23, 23);
  font-size: 15px;
}

.formFirst select {
  border: solid lightgray 1px;
  height: 25px;
  width: 243px;
  border-radius: 6px;
  color: rgb(75, 93, 105);
  text-align: center;
}

.formFirst option {
  border: solid lightgray 1px;
  height: 25px;
  border-radius: 6px;
}

.formFirstDivs {
  margin: 3px 0;
  display: flex;
  flex-direction: column;
}

.buttonForm {
  margin-top: 5px;
  border-radius: 20px;
  height: 25px;
}

@media (max-width: 500px) {
  .mainDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #235880;
  }

  .listIdsFlags {
    border-radius: 4px;
    height: 250px;
    width: 250px;
    padding: 0;
  }

  .formFirst p {
    width: 50px;
    margin: 0;
  }
  .formFirst img {
    height: 14px;
    width: 25px;
    border: solid black 1px;
  }

  .countryBubble button {
    font-weight: bold;
    border: none;
    background: none;
    color: red;
    cursor: pointer;
  }

  .countryBubble {
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    display: inline-flex;
    border-radius: 16px;
    font-family: Arial;
    color: #323333;
    font-size: 10px;
    background: #ffffff;
    padding: 5px 10px;
    border: solid #b1b4b7 1px;
    text-decoration: none;
  }
  .countryBubble h6 {
    margin: 0;
    font-size: 12px;
    padding-left: 3px;
  }
  .backgroundForm {
    width: 400px;
    margin-top: 10px;
    background: #bac2c8bb;
    border-radius: 20px;
  }

  .backgroundForm h1 {
    color: #000000;
  }
  .formFirst {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .formContainer {
    height: 400px;
    display: flex;
    justify-content: center;
  }

  .formFirst p {
    width: auto;
    color: rgb(149 8 8);
    font-weight: 500;
  }

  .formFirst input {
    border: solid lightgray 1px;
    height: 25px;
    border-radius: 6px;
    width: 243px;
    align-self: center;
  }

  .formFirst label {
    color: rgb(24, 23, 23);
    font-size: 15px;
  }

  .formFirst select {
    border: solid lightgray 1px;
    height: 25px;
    border-radius: 6px;
    color: rgb(75, 93, 105);
  }

  .formFirst option {
    border: solid lightgray 1px;
    height: 25px;
    border-radius: 6px;
  }

  .formFirstDivs {
    margin: 3px 0;
    display: flex;
    flex-direction: column;
  }

  .buttonForm {
    margin-top: 5px;
    border-radius: 20px;
    height: 25px;
  }
}
