.landing {
  position: fixed;
  width: 100%;
  height: 100%;
  background-image: url("../img/landingBackground.jpg");
  background-size: 100%;
  color: rgb(222, 212, 212);
  display: flex;
}

.bannerLanding {
  position: fixed;
  display: flex;
  justify-content: flex-end;
  align-content: center;
  width: 100%;
  height: 50px;
  bottom: 0%;
  background-image: linear-gradient(
    90deg,
    rgb(10, 66, 95),
    rgb(10, 67, 95),
    rgba(10, 67, 95, 0.527)
  );
}

.landingStart {
  color: white;
  font-size: 35px;
  height: 40px;
  padding-right: 150px;
  text-decoration: none;
}

.landingText {
  position: fixed;
  align-items: inherit;
  font-size: 90px;
  text-align: justify;
  width: 400px;
  height: 250px;
  padding-left: 35px;
  padding-top: 0px;
  line-height: 70px;
  font-weight: bold;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
