.navMain {
  height: 315px;
  width: 100%;
  background-image: url("../img/navBarImg.jpg");
  position: absolute;
  display: flex;
  flex-direction: column;
  margin-top: 0;
  margin-bottom: 0;
  color: white;
}

.navText {
  align-items: inherit;
  font-size: 80px;
  text-align: justify;
  width: 400px;
  height: 180px;
  padding-left: 17px;
  padding-top: 40px;
  line-height: 70px;
  font-weight: bold;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  /* text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; */
}

.navContainer {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-self: flex-end;
  flex-direction: row;
  align-items: center;
  height: 55px;
  width: 100%;
  background-color: rgb(11, 66, 96);
}

.textLinks {
  color: white;
  text-decoration: none;
}
.textSelect {
  font-size: 25px;
}
