.navMain {
  height: 315px;
  width: 100%;
  background: url('../img/navBarImg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  margin-top: 0;
  margin-bottom: 0;
  color: white;
}

.navText {
  align-items: inherit;
  font-size: 80px;
  text-align: justify;
  width: 400px;
  height: 180px;
  padding-left: 17px;
  line-height: 70px;
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.navContainer {
  display: flex;
  justify-content: space-between;
  padding: 0 16px;
  align-content: center;
  align-self: flex-end;
  flex-direction: row;
  align-items: center;
  min-height: 55px;
  max-height: 55px;
  width: 100%;
  background-color: rgb(11, 66, 96);
  box-sizing: border-box;
}

.navContainer .textLinks:hover {
  text-decoration: underline;
}

.textLinks {
  color: white;
  text-decoration: none;
  margin-right: 30px;
}
.textSelect {
  font-size: 25px;
}
